.about-section,
.skills-section,
.projects-section,
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 920px;
  padding: 0 30px;
}

.about-section {
  text-align: center;
}

.about-avatar {
  margin: 10px 0;
}

.about-content > p {
  margin: 10px 0 30px;
}

.about-header,
.programming-skills-header,
.software-skills-header,
.projects-header,
.contact-header {
  margin: 40px 0 25px;
}

.about-header > h2,
.programming-skills-header > h2,
.software-skills-header > h2,
.projects-header > h2,
.contact-header > h2 {
  margin: 0;
}

.contact-header {
  max-width: 550px;
}

.programming-skills-header > img,
.software-skills-header > img,
.projects-header > img {
  display: none;
}

@media screen and (min-width:920px) {
  .about-section,
  .skills-section,
  .projects-section,
  .contact-section {
    padding: 0;
  }

  .about-section {
    margin-top: 45px;
  }

  .about-header {
    display: none;
  }
  
  .about-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: "avatar desc"
                         "avatar stats";
    gap: 10px;
    height: 350px;
  }

  .about-avatar {
    grid-area: avatar;
  }

  .about-content > p {
    grid-area: desc;
    text-align: initial;
    margin: 0;
  }

  .about-stats {
    grid-area: stats;
  }

  .about-header,
  .programming-skills-header,
  .software-skills-header,
  .projects-header,
  .contact-header {
    margin: 45px 0 30px;
  }

  .programming-skills-header,
  .software-skills-header,
  .projects-header {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .programming-skills-header > img,
  .software-skills-header > img,
  .projects-header > img {
    display: initial;
    width: 55px;
    height: 55px;
  }
}