.nav-container {
  position: fixed;
  top: -100%;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  max-height: 100vh;
  overflow-y: auto;
}

.nav-container.open {
  background: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(0,0,0,0.3));
  backdrop-filter: blur(35px);
  pointer-events: initial;
  top: 0%
}

.nav-btn {
  position: fixed;
  top: 20px;
  right: 20px;

  background: none;
  border: none;
  font-size: 0;
}

.nav-bar {
  --hover-position-x: 0px;
  --hover-width: 100px;
  --hover-opacity: 0;

  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 70%;
}

.nav-bar.open {
  opacity: 1;
  pointer-events: initial;
}

.nav-bar a {
  text-decoration: none;
  outline: none;
}


@media screen and (min-width: 920px) {
  .nav-container {
    position: sticky;
    top: 0;
    background: linear-gradient(45deg, rgba(95,100,105,0.95), rgba(0,0,0,0.95));
    backdrop-filter: blur(35px);
    pointer-events: initial;
    height: initial;
  }

  @supports ((-webkit-backdrop-filter: blur(35px)) or (backdrop-filter: blur(35px))) {
    .nav-container {
      background: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(0,0,0,0.3));
    }
  }

  .nav-btn {
    display: none;
  }

  .nav-bar {
    opacity: 1;
    pointer-events: initial;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0;
    max-width: 920px;
    width: 100%;
  }

  .nav-bar::before {
    content: '';
    display: block;
    opacity: var(--hover-opacity);

    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;

    box-sizing: content-box;
    width: var(--hover-width);
    height: 22px;
    background: rgba(255, 4, 103, 0.4);
    transform: translateY(-50%) translateX(var(--hover-position-x));
    box-shadow: 0 0 10px 10px rgba(255, 4, 103, 0.4);
    border-radius: 8px;

    transition: 200ms ease-in-out;
    transition-property: transform, opacity, width;
  }
}